.app {
    width: 100%;
    padding: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  
  input {
    width: 100%;
    height: 30px;
  }
  
  .list {
    padding-top: 20px;
  }
  
  .item {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
